/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*Common style Or utilities*/
body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-bottom: 27px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/*Top Player*/
.scetion-title{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
    
}
.player{
    display: flex;
    align-items: center;
   
}
.player img{
     width: 56px;
     height: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}
/*.........................
Top Blogs style
.........................*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.thambel img{
    width: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color:  #562EFF;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color:  #562EFF;
}
/*---------------------------
--------Lates Course----------
__________________*/
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-solid{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.emtry{
    color: #A2A2A2;
}
/*-------------
-----------Media Query-------
-----------*/
/*Moble device*/
@media screen and (max-width: 668px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
       flex-direction: column;
    }
